*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
    margin: 0;
    font-size: 14px;
    /* padding: 16px; */
}


body.modal-open {
    overflow: hidden;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto; 
}






/*#region header */

.header {
   border-bottom: 1px solid #e7e9fc;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 320px;

}

.header-container {
    display: flex;
    align-items: center;

}
.main-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: none;
    gap: 40px;
}


.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
    padding: 16px 0;
}

.logo-span {
    color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    


.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
}


.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after{
    transform: scaleX(1);
}



.address-info {
    font-style: normal;
    margin-left: auto;
    display: none;
    
}

.contact-list {
    display: flex; 
    gap: 40px;
    list-style: none;
}

.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.btn-open-menu {
    display: block;
    border: none;
    background-color: transparent;
    margin-left: auto;
    padding: 0;

}

.menu-icon {
    fill-rule: #2e2f42;
}

.mob-menu {
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.mob-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}


.btn-close-menu {
    display: flex;
    border: none;
    background-color: transparent;
    margin-left: auto;
    padding: 0;
    position: absolute;
    border-radius: 50%;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    align-items: center;
    position: absolute;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-nav {
    margin-top: 48px;
}

.menu-mobail {
display: flex;
flex-direction: column;
gap: 40px;
}

.mob-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.close-menu-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-address-info {
    font-style: normal;
    margin-left: auto;
    
}

.mob-menu-nav-link:hover,
.mob-menu-nav-link:focus,
.mob-menu-nav-link.ac-current {
    color: #404bbf;
}

.mob-menu-social-list {
    display: flex;
    gap: 40px;
}



.mob-menu-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mob-menu-social-link:hover,
.mob-menu-social-link:focus {
    background-color: #404bbf;
}

.mob-address-info {
    font-style: normal;
    margin-bottom: 48px;

}

.mob-menu-social-item {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.mob-contact-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 24px;
    padding-right: 24px;

}

.mob-menu-contact-list{
    margin-bottom: 48px;
}

.mob-menu-contact-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    display: block;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contact {
    display: flex;
    flex-direction: column;
    margin: 24px auto;
    list-style: none;
}

.mob-menu-contact-link:hover,
.mob-menu-contact-link:focus,
.mob-menu-contact-link.cont-cur {
    color: #404bbf;
}




@media screen and (min-width: 768px) {
   .btn-open-menu, .btn-close-menu {
    display: none;
   }
    .menu {
        display: flex;
    }

    .nav-link {
        padding: 24px 0; 
    }

    .address-info {
        display: block;
        font-style: normal;
        margin-left: auto;
        
    }
    
    .contact-list {
        flex-direction: column;
        gap: 12px;
    }

    .contact-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17%;
        letter-spacing: 0.04em;
        color: #434455;
    }

    .mob-menu {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .btn-open-menu,
    .btn-close-menu {
         display: none;
    }
    
    .menu {
        display: flex;   
    }

    .nav-link {
        padding: 24px 0;
    }

    .address-info {
        display: block; 
        font-style: normal;
        margin-left: auto;
    }

    .contact-list {
        display: flex;
        gap: 40px;
        list-style: none;
        flex-direction: row;
    }
    
    .contact-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
    }
    
    .mob-menu {
        display: none;   
    }
}
/* #endregion header */


/* #region hero */

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 36px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
    width: 216px;
    
}

.hero-button {
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.hero-section {
    background-color: #2e2f42;
    text-align: center;
    padding: 72px 0;
    background-image: linear-gradient( 
        to bottom,
        rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7) ),
    url(../images/dark-bg1x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-height: 432px;
    align-items: center;
    margin: auto;
}
@media screen and (min-resolution: 2x ) {
    .hero-section {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/dark-bg2x.jpg); 
    }
}

@media screen and (min-width: 768px) {
    
    .container {
        max-width: 768px;
    }

    .hero-title {
    width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    }
    
    .hero-section {
        padding: 112px 0;
        max-height: 436px;
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/office1x.jpg);
    }
        @media screen and (min-resolution: 2x) {
            .hero-section {
                background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                    url(../images/office2x.jpg);
            }   }
}

@media screen and (min-width: 1158px) {
    .hero-title {
        font-size: 56px;
        margin-bottom: 48px;
    }
    
    .hero-section {
        padding: 188px 0; 
        max-width: 1440px;
        max-height: 600px;
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
    }
        @media screen and (min-resolution: 2x) {
            .hero-section {
                background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                    url(../images/people-office\ 2x.jpg);
            }
        }
}

/* #endregion hero */



/* #region features */

.features-section {
    padding: 96px 0; 
}

.features-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding: 0;
    margin: 0;
}



.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
}

.feature-title {
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 8px;
}

.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 500;
}


.features-subtitle {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.content {
    display: none;
}

@media screen and (min-width: 768px) {
    
    .features-list {
        display: flex;
        gap: 72px 24px;
    }
    
    .feature-title {
        text-align: start;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }

.feature-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
   

    .features-item {
        width: calc((100% - 24px) / 2);
        max-width: 100%;
    }



    
}

@media screen and (min-width: 1158px) {
    
    .container {
        padding: 0 15px;
        max-width: 1158px
    }

    .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    }

    .feature-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .features-item {
        width: calc((100% - 72px) / 4);   
    }  
    
    .features-list {
        display: flex;
        gap: 24px;
    }
    .content {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        background: #f4f4fd;
        justify-content: center;
        justify-items: center;
        margin-bottom: 8px;
        height: 120px;
        display: flex;
        align-items: center;
        height: 112px;
    }
}

/* #endregion features */

/* #region team */

.team-card{
    padding: 32px 0;

}

.team-section {
    background-color: #f4f4fd;
    padding: 98px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}   

.team-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
    padding: 0;
    margin: 0;
    
}

.team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    
    
}



.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    
}

.team-text-wraper {
    padding: 32px 0;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin-top: 8px;
    list-style: none;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.social-link:hover,
.social-link:focus {
    background-color: #404bbf; }

.social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {

    .team-list {
        gap: 64px 24px;
        display: flex;
        justify-content: center;
    }
    
    .team-item {
        align-items: center;
        gap: 24px;
    }
}


/* #endregion team */

/* #region portfolio */

.portfolio-section {
    background: #fff;
    padding: 120px 0;
}
    

.container-flex {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #fff;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-item {
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.port-img-over {
   position: relative;
   overflow: hidden; 
}



.anim-pictures {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    left: 0;
    text-align: left;
    justify-content: center;
}

.portfolio-item:hover .anim-pictures {
    transform: translateY(0);
}


.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding: 0;
    margin: 0;
    
    
}



.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    margin-bottom: 8px;
    text-transform: capitalize;
    
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
    text-transform: capitalize;
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}

.portfolio-item:hover  {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {


    .portfolio-list {
    flex-wrap: wrap;
    gap: 72px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
    
}

@media screen and (min-width: 1158px) {
   
    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }
    
    .portfolio-list {
        row-gap: 48px;
    }
}


/* #endregion portfolio */

/* #region model overlay*/

.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    padding: 72px 16px 24px;
    width: 288px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    min-height: 623px;
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-close:hover,
.form-close:focus {
    background-color: #404bbf;
    border: none;
}

.close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.form-close:hover, 
.form-close:focus  {
    fill: #ffffff;
}


.modal-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-container {
    margin-bottom: 8px;
}

.input-wrapper {
    position: relative;
    display: block;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.introduction-colon {
    position: relative;

}


.colon-name {
    width: 100%;
    outline: transparent;
    height: 40px;
    padding: 8px 16px 8px 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.colon-name:focus {
    border-color: #4D5AE5;
}

.icon-name {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.introduction-colon:focus-within .icon-name {
    fill: #4D5AE5;
}

.comment-container {
    margin-bottom: 16px;
}



.comment-text {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.comment-text:focus {
    border-color: #4D5AE5;
}

.checkbox-container {
    margin-bottom: 24px;
}

.check-privacy {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}



.check-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

:root {
    --accent-color: #404bbf;
    --light-color: #F4F4FD; 
    --link-color: #4d5ae5;
}

.check-modal:checked+.check-privacy .check-icon {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd; }


.privacy-policy {
    color: var(--link-color);
    text-decoration: underline;
}



.modal-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    margin: auto;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf; 
}

@media screen and (min-width: 768px) {
    .modal {
        padding: 72px 24px 24px;
        width: 408px;
        min-height: 584px;
    }
    
    
}
    
@media screen and (min-width: 1158px) {
    .modal {
        padding: 72px 24px 24px;
        width: 408px;
        min-height: 584px;
        }
            
}
/* #endregion model overlay*/

/* #region footer */

.footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: flex;
    margin-bottom: 16px; 
    justify-content: center;
    align-items: center;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: var(--color-light, #f4f4fd);
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    max-width: 264px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
    width: 100%;
}

.media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 72px auto;

}

.text-media {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
}
   
.form-wrapper {
    display: flex;
    gap: 24px;
}

.footer-inner {
    display: flex;
    align-items: baseline;
}

.social-list-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 0;
    margin-top: 8px;
    list-style: none;
}



.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}


.form-subscribe {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.text-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
}

.form-subscribe {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.form-label {
    display: flex;
}

.form-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: "Roboto", sans-serif;
}

input[type="email"] {
    border-radius: 4px;
    height: 40px;
}

.form-input::placeholder {
    color: #ffffff;
}

.form-btn {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    
}



.btn-icon {
    margin-left: 16px;
    fill: currentColor;
}

@media screen and (min-width: 768px) {
    .footer-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: auto;   
        gap: 72px;
        padding: 0 108px;
    }
    
    .dis-one {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 24px;
    }

    .footer {
        padding: 96px 0;
    }


    .footer-logo {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .media-container {
        align-items: flex-start;
        margin: 0;
    }

    .form-subscribe {
        display: flex;
        gap: 24px;
        flex-direction: row;
    }

    .text-subscribe {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        margin-right: 120px;
    }

    .footer-logo {
        display: inline-block;   
    } 

    .footer {
        padding: 100px 0;
    }

    .form-container {
        margin-left: 80px;
    }

    .form-input {
        width: 264px;
    }

    input[type="email"] {
        border-radius: 4px;
        width: 264px;
        height: 40px;   
    }

    .form-btn {
        min-width: 165px;
    }

    .footer-inner {
        flex-direction: row;
        gap: 0;
        padding: 0 15px;
    }

    .dis-one {
        gap: 0;
        }
}

/* #endregion footer */

